/appx
/api/FezileFshionSkillsAcademy-Api/*.json
/api/.vs
/api/FezileFshionSkillsAcademy-Api/.vs
/api/FezileFshionSkillsAcademy-Api/bin
/api/FezileFshionSkillsAcademy-Api/obj
/api/build
/app/build
/app/*.zip
